.task-extras {
  opacity: 0;
  .tabs>header {
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
    align-items: center;
    .tab-header {
      width: 200px;
      height: 100%;
      vertical-align: middle;
      display: flex;
      flex-grow: 1;
      &.selected {
        .tab-icon {
          &:after {
            transition: border .7s cubic-bezier(.25, .46, .45, .94);
            position: absolute;
            content: '';
            border: 1px solid transparent;
            border-radius: 50%;
            background-clip: padding-box;
            width: 40px;
            height: 40px;
            top: 10px;
            left: 9.5px;
            border-style: solid !important;
            border-width: 1px;
            border-color: #09c !important;
          }
        }
      }
      .iconfont {
        line-height: 60px;
        font-size: 20px;
        color: #09c !important;
      }
      .tab-icon {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        position: relative;
        cursor: pointer;
        width: 60px;
        height: 100%;
      }
      .tab-label {
        line-height: 60px;
        cursor: pointer;
        font-size: 14px;
        color: #09c !important;
      }
    }
  }
  .tabs>section {
    height: 350px;
    overflow: hidden;
    position: relative;
    border-width: 1px;
    border-style: solid;
    border-color: #f2f2f2 !important;
    .task-extra {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      display: none;
      &.selected {
        display: block;
      }
      .inner {
        position: relative;
        height: 100%;
      }
    }
  }
}