@import "../../../vendor/plugins/iCheck/flat/blue.css";

.list-item {
  position: relative;
  background-color: #fff;
  transition: all .5s;
  &.hide {
    display: none;
  }
  .hidden {
    display: inline-block !important;
    visibility: hidden;
  }
  &:hover {
    background-color: #f5f5f5;
  }
  &:nth-of-type(odd) {
    background-color: #f9f9f9;
  }
  &.open {
    margin-left: -16px;
    margin-right: -16px;
    background-color: #ddd;
  }
  .list-content >span {
    display: inline-block;
    padding: 8px;
    line-height: 30px;
    vertical-align: top;
    border-top: 1px solid #ddd;
  }
  &:first-of-type {
    >span {
      border: none;
    }
  }
  .mailbox-avatar {
    width: 10%;
    &:after {
      display: inline-block;
      position: relative;
      height: 30px;
      width: 30px;
      line-height: 30px;
      border: none;
      border-radius: 50%;
      -webkit-user-drag: none;
      background-color: #03a9f4;
      box-sizing: content-box;
      cursor: pointer;
      outline: none;
      text-align: center;
      color: #fff;
      content: attr(title);
    }
  }
  .mailbox-name {
    width: 20%;
  }
  .mailbox-subject {
    width: 65%;
  }
  .fa-angle-right, .fa-angle-down {
    width: 20px;
    cursor: pointer;
    text-align: center;
  }
  &.indent_1 {
    padding-left: 0 !important;
  }
  &.indent_2 {
    padding-left: 28px !important;
  }
  &.indent_3 {
    padding-left: 56px !important;
  }
  &.indent_4 {
    padding-left: 84px !important;
  }
  &.indent_5 {
    padding-left: 112px !important;
  }
}