.mailbox-operation {
  position: absolute;
  right: 0;
  top: 6px;
  >span {
    display: inline-block;
    width: 30px;
    opacity: 0;
    transition: all .5s;
    cursor: pointer;
    .iconfont {
      font-size: 18px;
    }
    &.selected {
      .icon-pin {
        color: #4285fc;
      }
      .icon-shijian {
        color: #ef6c00;
      }
      .icon-queren {
        color: #33ac71;
      }
    }
  }
}