* {
  -webkit-user-select: none;
}
.mailbox-operation {
  position: absolute;
  right: 10px;
  top: 10px;
  &.active {
    >span {
      opacity: 1;
    }
  }
  >span {
    position: relative;
    display: inline-block;
    width: 36px;
    opacity: 0;
    transition: all .5s;
    cursor: pointer;
    outline: transparent;
    .iconfont {
      font-size: 18px;
    }
    &:focus, &.selected {
      .icon-pin {
        color: #4285fc;
      }
      .icon-shijian {
        color: #ef6c00;
      }
      .icon-queren {
        color: #33ac71;
      }
      &::before {      
        border-radius: 50%;
        top: 0;
        left: -3px;
        margin: auto;
        padding: 4px;
        position: absolute;
        content: ' ';
        background-size: 24px 24px;
        height: 24px;
        width: 24px;
        background-color: rgba(0,0,0,.12);
      }
    }
  }
}
.table-responsive {
  overflow-x: visible;
}